@if (isLoading()) {
  <div class="loading">
    <h2>Loading...</h2>
  </div>
}
@else {
  @if (error()) {
    <div class="error">
      <h2>Error</h2>
      <p>{{ error().message }}</p>
    </div>
  }

  @if (playerOne()) {
    <div class="player-card">
      <h2>Player One</h2>
      <span>{{ playerOne().name }}, height:{{ playerOne().height }} mass:{{ playerOne().mass }}</span>
    </div>
  }

  @if (playerTwo()) {
    <div class="player-card">
      <h2>Player Two</h2>
      <span>{{ playerTwo().name }}, height:{{ playerTwo().height }} mass:{{ playerTwo().mass }}</span>
    </div>
  }

  @if (shipOne()) {
    <div class="ship-card">
      <h2>Ship one</h2>
      <span>{{ shipOne().name }}, crew:{{ shipOne().crew }}</span>
    </div>
  }

  @if (shipTwo()) {
    <div class="ship-card">
      <h2>Ship two</h2>
      <span>{{ shipTwo().name }}, crew:{{ shipTwo().crew }}</span>
    </div>
  }

  <button (click)="fetchPlayers()">Wyznacz atrybuty graczy</button>
  <button (click)="fetchShips()">Wyznac atrybuty statków</button>
  <button (click)="setWinner()">Wyznacz zwycięzcę</button>

  @if (winner()) {
    <div class="winner"> The winner is {{ winner() }}</div>
  }

  <button (click)="downloadHistory()">Pobierz historię gier</button>
}




